table {
    width: 100%;
    border-collapse: collapse;
  }
  table h1{
    font-weight: bold;
    font-size: 28px;
    display: none;
    padding-bottom: 4px;
    border-bottom: 3px solid #333;
  }
  
  th{
    border-bottom: 1px solid #ddd;
    background-color: #333 !important;
    color: white;
  }
  th, td {
    padding: 8px;
    text-align: center;
  }
  td{
    font-weight: bold;
  }
  
  @media only screen and (max-width: 600px) {
    /* make table responsive on small screens */
    table {
      border: 0;
    }
    table h1{
        display: block;
    }
    thead {
      display: none;
    }
    tbody {
      display: block;
      margin: 0;
    }
    tr {
      margin-bottom: 20px;
      border-bottom: 2px solid #ddd;
      display: block;
    }
    td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
    td {
      display: block;
      text-align: left;
      font-size: 13px;
      border-bottom: 0;
      margin-bottom: 10px;
    }
  }
  